<% include _header.ejs %>
<body>
  <h1>
    <%= title %>
  </h1>
  <form action='/auth/signup' method='post'>
    <div>
      <label for="firstname">First name:</label>
      <input type="text" id="firstname" name='firstname' value="">
    </div>
    <div>
      <label for="lastname">Last name:</label>
      <input type="text" id="lastname" name='lastname' value="">
    </div>
    <div>
      <p>
        Username must be at least 4 characters long. No special characters are allowed.
      </p>
      <label for="username">User name:</label>
      <input type="text" id="username" name='username' value="">
    </div>
    <div>
      <p>
        Passwords must be at least 8 characters long.
      </p>
      <label for="password">Password:</label>
      <input type="password" id="password" name='password' value="">
    </div>
    <div>
      <p>
        Retype your password.
      </p>
      <label for="passwordconfirm">Password Confirm:</label>
      <input type="password" id="passwordconfirm" name='passwordconfirm' value="">
    </div>
    <div>
      <button type="submit">
        Submit
      </button>
    </div>
  </form>

<% include _footer.ejs %>
